---
title: Articles
image_view: true
permalink: /ios2OpppTFzY6vEOfNlcjmAvt3/articles/
---
<h1>Articles old - lank</h1>

<section class="posts">
	{% for post in paginator.posts %}
		<article class="post">
			{% include post-heading.html post=post %}
			<div class="image">
				<a class="button" href="{{ post.url }}">
					<img src="{{ post.featured_image }}" alt="{{ post.title }}">
				</a>
			</div>

			{{ post.excerpt }}

			<p><a class="button" href="{{ post.url }}">Lire plus</a></p>
		</article>
	{% endfor %}

	{% if paginator.total_pages > 1 %}
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Derniers articles</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} sur {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Articles plus anciens &rarr;</a>
			{% endif %}
		</div>
	{% endif %}
</section>


----

{% if page.image_view %}
	{% for category in site.categories %}
		<h2>{{ category[0] }}</h2>
		<div class="recipes">
			{% for recipe in category[1] %}
				<div class="recipe" style="background-image: url('{{ recipe.featured_image }}')">
					<a href="{{ recipe.url }}"><span>{{ recipe.title }}</span></a>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
{% endif %}